* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  transition: background-color 0.5s ease, color 0.5s ease;
}

.dark body {
  background-color: #121419; /* Dark background color */
  color: #e9ebec; /* Light text color */
}
